.featured-products-section {
     width: 100%;
     height: 837px;
}
.featured-section-title {
     text-align: center;
     margin-top: 3em;
     h3 {
          font-size: 1.3rem;
          font-weight: 700;
     }
}

.featured-products-container {
     display: flex;
     justify-content: center;
     width: 100%;
     height: 100%;

     display: flex;
}

.feature-cards-contianer {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     flex-flow: row wrap;
     justify-content: flex-start;
     align-items: center;
     gap: 1.2rem;
     width: 15%;
     height: 100%;
     margin: 1rem;
     padding: 0;
}
