.homeview-background {
     width: 100%;
     height: 100vh;
     background: $background;
}

.homeview-container {
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     height: 100%;
}

@import './headsections';
@import './displaysections';
@import './featuredproducts';
@import '../items/productcard';
