@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// FONTS //
$primary-font: 'Poppins', sans-seri;
//

// COLORS //
$active-color: #ff7373;
$secondary-active-color: #23262a;
$unactive-color: #222529;
$background: #e6e6e6;
$notification-background: #ff7373;
//
