@import './utilities/variables';
@import './misc/icons';
@import './sections/homeview';
@import './sections/navbar';
@import './misc/shopButton';
@import './misc//quickviewbutton';
@import './items//quickview';

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

     font-family: 'Poppins', sans-serif;
     font-size: 16px;

     &::-webkit-scrollbar {
          position: fixed;
          top: 0;
          right: 0;
          width: 10px;
     }
     &::-webkit-scrollbar-track {
          background: transparent;
     }
     &::-webkit-scrollbar-thumb {
          background: rgba(139, 105, 54, 0.74);
          border-radius: 5px;
     }
}

a {
     color: $unactive-color;
}

.link-active {
     color: $active-color;
}
